openapi: 3.0.0
info:
  title: Civil Construction Procurement API
  description: |-
    A back-end purchase module for civil construction procurement that manages vendors, purchase requisitions, purchase orders, goods receipts, and invoice approvals through a structured ops workflow. Anyone can browse the public catalog; only the workspace owner can access /manage to create and edit procurement records.

    Request bodies are capped at 256 KiB (262144 bytes). Write requests (POST/PUT/PATCH) with a larger body are rejected with HTTP 413 (Payload Too Large) before they reach the backend.
  version: 1.0.0
servers:
  - url: https://api.codata.io/v0/workspace/6a8fe71448d0ed24dea19acd/branch/main/api
    description: 'API Server (branch: main)'
paths:
  /vendors:
    get:
      operationId: listVendors
      summary: List vendors
      description: Returns a paginated list of vendors.
      tags: []
      parameters:
        - name: pageOffset
          in: query
          required: false
          description: Number of records to skip (0-based).
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: pageLimit
          in: query
          required: false
          description: Maximum number of records to return.
          schema:
            type: integer
            minimum: 0
            maximum: 200
            default: 100
        - name: id
          in: query
          required: false
          description: Filter by id (exact match)
          schema:
            type: string
        - name: id_in
          in: query
          required: false
          description: Filter by one or more id values (repeat the parameter)
        - name: name
          in: query
          required: false
          description: Filter by name (exact match)
          schema:
            type: string
        - name: contactPerson
          in: query
          required: false
          description: Filter by contactPerson (exact match)
          schema:
            type: string
        - name: email
          in: query
          required: false
          description: Filter by email (exact match)
          schema:
            type: string
        - name: phone
          in: query
          required: false
          description: Filter by phone (exact match)
          schema:
            type: string
        - name: address
          in: query
          required: false
          description: Filter by address (exact match)
          schema:
            type: string
        - name: category
          in: query
          required: false
          description: Filter by category (exact match)
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: Filter by status (exact match)
          schema:
            type: string
        - name: taxId
          in: query
          required: false
          description: Filter by taxId (exact match)
          schema:
            type: string
        - name: paymentTerms
          in: query
          required: false
          description: Filter by paymentTerms (exact match)
          schema:
            type: string
        - name: rating
          in: query
          required: false
          description: Filter by rating (exact match)
          schema:
            type: number
        - name: rating_gte
          in: query
          required: false
          description: Filter rating greater than or equal to the given value
          schema:
            type: number
        - name: rating_lte
          in: query
          required: false
          description: Filter rating less than or equal to the given value
          schema:
            type: number
      requestBody: {}
      responses:
        '200':
          description: Paginated list of vendors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Page of vendors.
                    items:
                      type: object
                  pagination:
                    type: object
                    properties:
                      pageOffset:
                        type: integer
                        minimum: 0
                      pageLimit:
                        type: integer
                        minimum: 0
                    required:
                      - pageOffset
                      - pageLimit
                required:
                  - data
                  - pagination
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    post:
      operationId: createVendor
      summary: Create Vendor
      description: Creates a new Vendor.
      tags: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
                contactPerson:
                  type: string
                email:
                  type: string
                  format: email
                phone:
                  type: string
                  nullable: true
                address:
                  type: string
                  nullable: true
                category:
                  type: string
                  enum:
                    - Materials
                    - Equipment
                    - Subcontractor
                    - Services
                status:
                  type: string
                  enum:
                    - Active
                    - Inactive
                    - Blacklisted
                taxId:
                  type: string
                  nullable: true
                paymentTerms:
                  type: string
                  enum:
                    - Net 15
                    - Net 30
                    - Net 60
                    - Immediate
                  nullable: true
                rating:
                  type: number
                  nullable: true
              required:
                - name
                - contactPerson
                - email
                - category
                - status
      responses:
        '201':
          description: Vendor created.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /vendors/{id}:
    get:
      operationId: getVendor
      summary: Get Vendor by id
      description: Returns a single Vendor by its id.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the Vendor.
          schema:
            type: string
            format: uuid
      requestBody: {}
      responses:
        '200':
          description: Vendor found.
          content:
            application/json:
              schema:
                type: object
          links:
            GetPurchaseOrder:
              operationId: getPurchaseorder
              parameters:
                id: $response.body#/id
              description: Use id from vendor to fetch the related purchaseorder
            GetInvoice:
              operationId: getInvoice
              parameters:
                id: $response.body#/id
              description: Use id from vendor to fetch the related invoice
        '404':
          description: Vendor not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    put:
      operationId: updateVendor
      summary: Update Vendor
      description: Replaces an existing Vendor. All fields must be provided.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the Vendor.
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                contactPerson:
                  type: string
                email:
                  type: string
                  format: email
                phone:
                  type: string
                  nullable: true
                address:
                  type: string
                  nullable: true
                category:
                  type: string
                  enum:
                    - Materials
                    - Equipment
                    - Subcontractor
                    - Services
                status:
                  type: string
                  enum:
                    - Active
                    - Inactive
                    - Blacklisted
                taxId:
                  type: string
                  nullable: true
                paymentTerms:
                  type: string
                  enum:
                    - Net 15
                    - Net 30
                    - Net 60
                    - Immediate
                  nullable: true
                rating:
                  type: number
                  nullable: true
      responses:
        '200':
          description: Vendor updated.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '404':
          description: Vendor not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    delete:
      operationId: deleteVendor
      summary: Delete Vendor
      description: Deletes a Vendor by its id.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the Vendor.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Vendor deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: ''
                  name:
                    type: string
                    description: ''
                  contactPerson:
                    type: string
                    description: ''
                  email:
                    type: string
                    format: email
                    description: ''
                  phone:
                    type: string
                    description: ''
                  address:
                    type: string
                    description: ''
                  category:
                    type: string
                    enum:
                      - Materials
                      - Equipment
                      - Subcontractor
                      - Services
                    description: ''
                  status:
                    type: string
                    enum:
                      - Active
                      - Inactive
                      - Blacklisted
                    description: ''
                  taxId:
                    type: string
                    description: ''
                  paymentTerms:
                    type: string
                    enum:
                      - Net 15
                      - Net 30
                      - Net 60
                      - Immediate
                    description: ''
                  rating:
                    type: number
                    description: ''
        '404':
          description: Vendor not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /costCodes:
    get:
      operationId: listCostcodes
      summary: List costCodes
      description: Returns a paginated list of costCodes.
      tags: []
      parameters:
        - name: pageOffset
          in: query
          required: false
          description: Number of records to skip (0-based).
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: pageLimit
          in: query
          required: false
          description: Maximum number of records to return.
          schema:
            type: integer
            minimum: 0
            maximum: 200
            default: 100
        - name: id
          in: query
          required: false
          description: Filter by id (exact match)
          schema:
            type: string
        - name: id_in
          in: query
          required: false
          description: Filter by one or more id values (repeat the parameter)
        - name: code
          in: query
          required: false
          description: Filter by code (exact match)
          schema:
            type: string
        - name: description
          in: query
          required: false
          description: Filter by description (exact match)
          schema:
            type: string
        - name: category
          in: query
          required: false
          description: Filter by category (exact match)
          schema:
            type: string
        - name: budgetAmount
          in: query
          required: false
          description: Filter by budgetAmount (exact match)
          schema:
            type: number
        - name: budgetAmount_gte
          in: query
          required: false
          description: Filter budgetAmount greater than or equal to the given value
          schema:
            type: number
        - name: budgetAmount_lte
          in: query
          required: false
          description: Filter budgetAmount less than or equal to the given value
          schema:
            type: number
        - name: isActive
          in: query
          required: false
          description: Filter by isActive (exact match)
          schema:
            type: boolean
      requestBody: {}
      responses:
        '200':
          description: Paginated list of costCodes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Page of costCodes.
                    items:
                      type: object
                  pagination:
                    type: object
                    properties:
                      pageOffset:
                        type: integer
                        minimum: 0
                      pageLimit:
                        type: integer
                        minimum: 0
                    required:
                      - pageOffset
                      - pageLimit
                required:
                  - data
                  - pagination
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    post:
      operationId: createCostcode
      summary: Create CostCode
      description: Creates a new CostCode.
      tags: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                code:
                  type: string
                description:
                  type: string
                category:
                  type: string
                  enum:
                    - Earthworks
                    - Concrete
                    - Steel
                    - Electrical
                    - Plumbing
                    - Finishing
                    - Equipment
                    - General
                budgetAmount:
                  type: number
                  nullable: true
                isActive:
                  type: boolean
                  nullable: true
              required:
                - code
                - description
                - category
      responses:
        '201':
          description: CostCode created.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /costCodes/{id}:
    get:
      operationId: getCostcode
      summary: Get CostCode by id
      description: Returns a single CostCode by its id.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the CostCode.
          schema:
            type: string
            format: uuid
      requestBody: {}
      responses:
        '200':
          description: CostCode found.
          content:
            application/json:
              schema:
                type: object
          links:
            GetPurchaseRequisition:
              operationId: getPurchaserequisition
              parameters:
                id: $response.body#/id
              description: Use id from costcode to fetch the related purchaserequisition
            GetPurchaseOrder:
              operationId: getPurchaseorder
              parameters:
                id: $response.body#/id
              description: Use id from costcode to fetch the related purchaseorder
        '404':
          description: CostCode not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    put:
      operationId: updateCostcode
      summary: Update CostCode
      description: Replaces an existing CostCode. All fields must be provided.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the CostCode.
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                description:
                  type: string
                category:
                  type: string
                  enum:
                    - Earthworks
                    - Concrete
                    - Steel
                    - Electrical
                    - Plumbing
                    - Finishing
                    - Equipment
                    - General
                budgetAmount:
                  type: number
                  nullable: true
                isActive:
                  type: boolean
                  nullable: true
      responses:
        '200':
          description: CostCode updated.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '404':
          description: CostCode not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    delete:
      operationId: deleteCostcode
      summary: Delete CostCode
      description: Deletes a CostCode by its id.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the CostCode.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: CostCode deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: ''
                  code:
                    type: string
                    description: ''
                  description:
                    type: string
                    description: ''
                  category:
                    type: string
                    enum:
                      - Earthworks
                      - Concrete
                      - Steel
                      - Electrical
                      - Plumbing
                      - Finishing
                      - Equipment
                      - General
                    description: ''
                  budgetAmount:
                    type: number
                    description: ''
                  isActive:
                    type: boolean
                    description: ''
        '404':
          description: CostCode not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /purchaseRequisitions:
    get:
      operationId: listPurchaserequisitions
      summary: List purchaseRequisitions
      description: Returns a paginated list of purchaseRequisitions.
      tags: []
      parameters:
        - name: pageOffset
          in: query
          required: false
          description: Number of records to skip (0-based).
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: pageLimit
          in: query
          required: false
          description: Maximum number of records to return.
          schema:
            type: integer
            minimum: 0
            maximum: 200
            default: 100
        - name: costCodeId
          in: query
          required: false
          description: Filter by CostCode — returns only records whose costCodeId matches.
          schema:
            type: string
            format: uuid
        - name: id
          in: query
          required: false
          description: Filter by id (exact match)
          schema:
            type: string
        - name: id_in
          in: query
          required: false
          description: Filter by one or more id values (repeat the parameter)
        - name: prNumber
          in: query
          required: false
          description: Filter by prNumber (exact match)
          schema:
            type: string
        - name: title
          in: query
          required: false
          description: Filter by title (exact match)
          schema:
            type: string
        - name: projectName
          in: query
          required: false
          description: Filter by projectName (exact match)
          schema:
            type: string
        - name: requestedBy
          in: query
          required: false
          description: Filter by requestedBy (exact match)
          schema:
            type: string
        - name: requestDate
          in: query
          required: false
          description: Filter by requestDate (exact match)
          schema:
            type: string
        - name: requestDate_after
          in: query
          required: false
          description: Filter requestDate greater than or equal to the given value
          schema:
            type: string
        - name: requestDate_before
          in: query
          required: false
          description: Filter requestDate less than or equal to the given value
          schema:
            type: string
        - name: requiredDate
          in: query
          required: false
          description: Filter by requiredDate (exact match)
          schema:
            type: string
        - name: requiredDate_after
          in: query
          required: false
          description: Filter requiredDate greater than or equal to the given value
          schema:
            type: string
        - name: requiredDate_before
          in: query
          required: false
          description: Filter requiredDate less than or equal to the given value
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: Filter by status (exact match)
          schema:
            type: string
        - name: priority
          in: query
          required: false
          description: Filter by priority (exact match)
          schema:
            type: string
        - name: justification
          in: query
          required: false
          description: Filter by justification (exact match)
          schema:
            type: string
        - name: estimatedValue
          in: query
          required: false
          description: Filter by estimatedValue (exact match)
          schema:
            type: number
        - name: estimatedValue_gte
          in: query
          required: false
          description: Filter estimatedValue greater than or equal to the given value
          schema:
            type: number
        - name: estimatedValue_lte
          in: query
          required: false
          description: Filter estimatedValue less than or equal to the given value
          schema:
            type: number
        - name: approvedBy
          in: query
          required: false
          description: Filter by approvedBy (exact match)
          schema:
            type: string
        - name: approvalDate
          in: query
          required: false
          description: Filter by approvalDate (exact match)
          schema:
            type: string
        - name: approvalDate_after
          in: query
          required: false
          description: Filter approvalDate greater than or equal to the given value
          schema:
            type: string
        - name: approvalDate_before
          in: query
          required: false
          description: Filter approvalDate less than or equal to the given value
          schema:
            type: string
        - name: rejectionReason
          in: query
          required: false
          description: Filter by rejectionReason (exact match)
          schema:
            type: string
      requestBody: {}
      responses:
        '200':
          description: Paginated list of purchaseRequisitions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Page of purchaseRequisitions.
                    items:
                      type: object
                  pagination:
                    type: object
                    properties:
                      pageOffset:
                        type: integer
                        minimum: 0
                      pageLimit:
                        type: integer
                        minimum: 0
                    required:
                      - pageOffset
                      - pageLimit
                required:
                  - data
                  - pagination
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    post:
      operationId: createPurchaserequisition
      summary: Create PurchaseRequisition
      description: Creates a new PurchaseRequisition.
      tags: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                prNumber:
                  type: string
                title:
                  type: string
                projectName:
                  type: string
                requestedBy:
                  type: string
                requestDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                requiredDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                status:
                  type: string
                  enum:
                    - Draft
                    - Pending Approval
                    - Approved
                    - Rejected
                    - Converted to PO
                priority:
                  type: string
                  enum:
                    - Low
                    - Medium
                    - High
                    - Urgent
                  nullable: true
                justification:
                  type: string
                  nullable: true
                estimatedValue:
                  type: number
                  nullable: true
                costCodeId:
                  type: string
                  format: uuid
                  nullable: true
                lineItems:
                  description: Free-form JSON value (object, array, or scalar).
                  nullable: true
                approvedBy:
                  type: string
                  nullable: true
                approvalDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                  nullable: true
                rejectionReason:
                  type: string
                  nullable: true
              required:
                - prNumber
                - title
                - projectName
                - requestedBy
                - requestDate
                - requiredDate
                - status
      responses:
        '201':
          description: PurchaseRequisition created.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /purchaseRequisitions/{id}:
    get:
      operationId: getPurchaserequisition
      summary: Get PurchaseRequisition by id
      description: Returns a single PurchaseRequisition by its id.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the PurchaseRequisition.
          schema:
            type: string
            format: uuid
      requestBody: {}
      responses:
        '200':
          description: PurchaseRequisition found.
          content:
            application/json:
              schema:
                type: object
          links:
            ListCostcodes:
              operationId: listCostcodes
              description: Use costCodeId from purchaserequisition to list related costcode records
              parameters:
                id: $response.body#/costCodeId
            GetPurchaseOrder:
              operationId: getPurchaseorder
              parameters:
                id: $response.body#/id
              description: Use id from purchaserequisition to fetch the related purchaseorder
        '404':
          description: PurchaseRequisition not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    put:
      operationId: updatePurchaserequisition
      summary: Update PurchaseRequisition
      description: Replaces an existing PurchaseRequisition. All fields must be provided.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the PurchaseRequisition.
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prNumber:
                  type: string
                title:
                  type: string
                projectName:
                  type: string
                requestedBy:
                  type: string
                requestDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                requiredDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                status:
                  type: string
                  enum:
                    - Draft
                    - Pending Approval
                    - Approved
                    - Rejected
                    - Converted to PO
                priority:
                  type: string
                  enum:
                    - Low
                    - Medium
                    - High
                    - Urgent
                  nullable: true
                justification:
                  type: string
                  nullable: true
                estimatedValue:
                  type: number
                  nullable: true
                costCodeId:
                  type: string
                  format: uuid
                  nullable: true
                lineItems:
                  description: Free-form JSON value (object, array, or scalar).
                  nullable: true
                approvedBy:
                  type: string
                  nullable: true
                approvalDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                  nullable: true
                rejectionReason:
                  type: string
                  nullable: true
      responses:
        '200':
          description: PurchaseRequisition updated.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '404':
          description: PurchaseRequisition not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    delete:
      operationId: deletePurchaserequisition
      summary: Delete PurchaseRequisition
      description: Deletes a PurchaseRequisition by its id.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the PurchaseRequisition.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: PurchaseRequisition deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: ''
                  prNumber:
                    type: string
                    description: ''
                  title:
                    type: string
                    description: ''
                  projectName:
                    type: string
                    description: ''
                  requestedBy:
                    type: string
                    description: ''
                  requestDate:
                    type: string
                    format: date
                    example: '2026-05-05'
                    description: ''
                  requiredDate:
                    type: string
                    format: date
                    example: '2026-05-05'
                    description: ''
                  status:
                    type: string
                    enum:
                      - Draft
                      - Pending Approval
                      - Approved
                      - Rejected
                      - Converted to PO
                    description: ''
                  priority:
                    type: string
                    enum:
                      - Low
                      - Medium
                      - High
                      - Urgent
                    description: ''
                  justification:
                    type: string
                    description: ''
                  estimatedValue:
                    type: number
                    description: ''
                  costCodeId:
                    type: string
                    format: uuid
                    description: ''
                  lineItems:
                    description: ''
                  approvedBy:
                    type: string
                    description: ''
                  approvalDate:
                    type: string
                    format: date
                    example: '2026-05-05'
                    description: ''
                  rejectionReason:
                    type: string
                    description: ''
        '404':
          description: PurchaseRequisition not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /purchaseOrders:
    get:
      operationId: listPurchaseorders
      summary: List purchaseOrders
      description: Returns a paginated list of purchaseOrders.
      tags: []
      parameters:
        - name: pageOffset
          in: query
          required: false
          description: Number of records to skip (0-based).
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: pageLimit
          in: query
          required: false
          description: Maximum number of records to return.
          schema:
            type: integer
            minimum: 0
            maximum: 200
            default: 100
        - name: vendorId
          in: query
          required: false
          description: Filter by Vendor — returns only records whose vendorId matches.
          schema:
            type: string
            format: uuid
        - name: requisitionId
          in: query
          required: false
          description: Filter by PurchaseRequisition — returns only records whose requisitionId matches.
          schema:
            type: string
            format: uuid
        - name: costCodeId
          in: query
          required: false
          description: Filter by CostCode — returns only records whose costCodeId matches.
          schema:
            type: string
            format: uuid
        - name: id
          in: query
          required: false
          description: Filter by id (exact match)
          schema:
            type: string
        - name: id_in
          in: query
          required: false
          description: Filter by one or more id values (repeat the parameter)
        - name: poNumber
          in: query
          required: false
          description: Filter by poNumber (exact match)
          schema:
            type: string
        - name: title
          in: query
          required: false
          description: Filter by title (exact match)
          schema:
            type: string
        - name: projectName
          in: query
          required: false
          description: Filter by projectName (exact match)
          schema:
            type: string
        - name: issueDate
          in: query
          required: false
          description: Filter by issueDate (exact match)
          schema:
            type: string
        - name: issueDate_after
          in: query
          required: false
          description: Filter issueDate greater than or equal to the given value
          schema:
            type: string
        - name: issueDate_before
          in: query
          required: false
          description: Filter issueDate less than or equal to the given value
          schema:
            type: string
        - name: deliveryDate
          in: query
          required: false
          description: Filter by deliveryDate (exact match)
          schema:
            type: string
        - name: deliveryDate_after
          in: query
          required: false
          description: Filter deliveryDate greater than or equal to the given value
          schema:
            type: string
        - name: deliveryDate_before
          in: query
          required: false
          description: Filter deliveryDate less than or equal to the given value
          schema:
            type: string
        - name: deliveryAddress
          in: query
          required: false
          description: Filter by deliveryAddress (exact match)
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: Filter by status (exact match)
          schema:
            type: string
        - name: subtotal
          in: query
          required: false
          description: Filter by subtotal (exact match)
          schema:
            type: number
        - name: subtotal_gte
          in: query
          required: false
          description: Filter subtotal greater than or equal to the given value
          schema:
            type: number
        - name: subtotal_lte
          in: query
          required: false
          description: Filter subtotal less than or equal to the given value
          schema:
            type: number
        - name: taxAmount
          in: query
          required: false
          description: Filter by taxAmount (exact match)
          schema:
            type: number
        - name: taxAmount_gte
          in: query
          required: false
          description: Filter taxAmount greater than or equal to the given value
          schema:
            type: number
        - name: taxAmount_lte
          in: query
          required: false
          description: Filter taxAmount less than or equal to the given value
          schema:
            type: number
        - name: totalAmount
          in: query
          required: false
          description: Filter by totalAmount (exact match)
          schema:
            type: number
        - name: totalAmount_gte
          in: query
          required: false
          description: Filter totalAmount greater than or equal to the given value
          schema:
            type: number
        - name: totalAmount_lte
          in: query
          required: false
          description: Filter totalAmount less than or equal to the given value
          schema:
            type: number
        - name: paymentTerms
          in: query
          required: false
          description: Filter by paymentTerms (exact match)
          schema:
            type: string
        - name: notes
          in: query
          required: false
          description: Filter by notes (exact match)
          schema:
            type: string
      requestBody: {}
      responses:
        '200':
          description: Paginated list of purchaseOrders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Page of purchaseOrders.
                    items:
                      type: object
                  pagination:
                    type: object
                    properties:
                      pageOffset:
                        type: integer
                        minimum: 0
                      pageLimit:
                        type: integer
                        minimum: 0
                    required:
                      - pageOffset
                      - pageLimit
                required:
                  - data
                  - pagination
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    post:
      operationId: createPurchaseorder
      summary: Create PurchaseOrder
      description: Creates a new PurchaseOrder.
      tags: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                poNumber:
                  type: string
                title:
                  type: string
                vendorId:
                  type: string
                  format: uuid
                requisitionId:
                  type: string
                  format: uuid
                  nullable: true
                projectName:
                  type: string
                issueDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                deliveryDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                deliveryAddress:
                  type: string
                  nullable: true
                status:
                  type: string
                  enum:
                    - Draft
                    - Issued
                    - Partially Received
                    - Fully Received
                    - Closed
                    - Cancelled
                lineItems:
                  description: Free-form JSON value (object, array, or scalar).
                  nullable: true
                subtotal:
                  type: number
                  nullable: true
                taxAmount:
                  type: number
                  nullable: true
                totalAmount:
                  type: number
                  nullable: true
                paymentTerms:
                  type: string
                  enum:
                    - Net 15
                    - Net 30
                    - Net 60
                    - Immediate
                  nullable: true
                notes:
                  type: string
                  nullable: true
                costCodeId:
                  type: string
                  format: uuid
                  nullable: true
              required:
                - poNumber
                - title
                - vendorId
                - projectName
                - issueDate
                - deliveryDate
                - status
      responses:
        '201':
          description: PurchaseOrder created.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /purchaseOrders/{id}:
    get:
      operationId: getPurchaseorder
      summary: Get PurchaseOrder by id
      description: Returns a single PurchaseOrder by its id.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the PurchaseOrder.
          schema:
            type: string
            format: uuid
      requestBody: {}
      responses:
        '200':
          description: PurchaseOrder found.
          content:
            application/json:
              schema:
                type: object
          links:
            ListVendors:
              operationId: listVendors
              description: Use vendorId from purchaseorder to list related vendor records
              parameters:
                id: $response.body#/vendorId
            ListPurchaserequisitions:
              operationId: listPurchaserequisitions
              description: Use requisitionId from purchaseorder to list related purchaserequisition records
              parameters:
                id: $response.body#/requisitionId
            ListCostcodes:
              operationId: listCostcodes
              description: Use costCodeId from purchaseorder to list related costcode records
              parameters:
                id: $response.body#/costCodeId
            GetGoodsReceipt:
              operationId: getGoodsreceipt
              parameters:
                id: $response.body#/id
              description: Use id from purchaseorder to fetch the related goodsreceipt
            GetInvoice:
              operationId: getInvoice
              parameters:
                id: $response.body#/id
              description: Use id from purchaseorder to fetch the related invoice
        '404':
          description: PurchaseOrder not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    put:
      operationId: updatePurchaseorder
      summary: Update PurchaseOrder
      description: Replaces an existing PurchaseOrder. All fields must be provided.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the PurchaseOrder.
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                poNumber:
                  type: string
                title:
                  type: string
                vendorId:
                  type: string
                  format: uuid
                requisitionId:
                  type: string
                  format: uuid
                  nullable: true
                projectName:
                  type: string
                issueDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                deliveryDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                deliveryAddress:
                  type: string
                  nullable: true
                status:
                  type: string
                  enum:
                    - Draft
                    - Issued
                    - Partially Received
                    - Fully Received
                    - Closed
                    - Cancelled
                lineItems:
                  description: Free-form JSON value (object, array, or scalar).
                  nullable: true
                subtotal:
                  type: number
                  nullable: true
                taxAmount:
                  type: number
                  nullable: true
                totalAmount:
                  type: number
                  nullable: true
                paymentTerms:
                  type: string
                  enum:
                    - Net 15
                    - Net 30
                    - Net 60
                    - Immediate
                  nullable: true
                notes:
                  type: string
                  nullable: true
                costCodeId:
                  type: string
                  format: uuid
                  nullable: true
      responses:
        '200':
          description: PurchaseOrder updated.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '404':
          description: PurchaseOrder not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    delete:
      operationId: deletePurchaseorder
      summary: Delete PurchaseOrder
      description: Deletes a PurchaseOrder by its id.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the PurchaseOrder.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: PurchaseOrder deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: ''
                  poNumber:
                    type: string
                    description: ''
                  title:
                    type: string
                    description: ''
                  vendorId:
                    type: string
                    format: uuid
                    description: ''
                  requisitionId:
                    type: string
                    format: uuid
                    description: ''
                  projectName:
                    type: string
                    description: ''
                  issueDate:
                    type: string
                    format: date
                    example: '2026-05-05'
                    description: ''
                  deliveryDate:
                    type: string
                    format: date
                    example: '2026-05-05'
                    description: ''
                  deliveryAddress:
                    type: string
                    description: ''
                  status:
                    type: string
                    enum:
                      - Draft
                      - Issued
                      - Partially Received
                      - Fully Received
                      - Closed
                      - Cancelled
                    description: ''
                  lineItems:
                    description: ''
                  subtotal:
                    type: number
                    description: ''
                  taxAmount:
                    type: number
                    description: ''
                  totalAmount:
                    type: number
                    description: ''
                  paymentTerms:
                    type: string
                    enum:
                      - Net 15
                      - Net 30
                      - Net 60
                      - Immediate
                    description: ''
                  notes:
                    type: string
                    description: ''
                  costCodeId:
                    type: string
                    format: uuid
                    description: ''
        '404':
          description: PurchaseOrder not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /goodsReceipts:
    get:
      operationId: listGoodsreceipts
      summary: List goodsReceipts
      description: Returns a paginated list of goodsReceipts.
      tags: []
      parameters:
        - name: pageOffset
          in: query
          required: false
          description: Number of records to skip (0-based).
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: pageLimit
          in: query
          required: false
          description: Maximum number of records to return.
          schema:
            type: integer
            minimum: 0
            maximum: 200
            default: 100
        - name: purchaseOrderId
          in: query
          required: false
          description: Filter by PurchaseOrder — returns only records whose purchaseOrderId matches.
          schema:
            type: string
            format: uuid
        - name: id
          in: query
          required: false
          description: Filter by id (exact match)
          schema:
            type: string
        - name: id_in
          in: query
          required: false
          description: Filter by one or more id values (repeat the parameter)
        - name: grnNumber
          in: query
          required: false
          description: Filter by grnNumber (exact match)
          schema:
            type: string
        - name: receivedDate
          in: query
          required: false
          description: Filter by receivedDate (exact match)
          schema:
            type: string
        - name: receivedDate_after
          in: query
          required: false
          description: Filter receivedDate greater than or equal to the given value
          schema:
            type: string
        - name: receivedDate_before
          in: query
          required: false
          description: Filter receivedDate less than or equal to the given value
          schema:
            type: string
        - name: receivedBy
          in: query
          required: false
          description: Filter by receivedBy (exact match)
          schema:
            type: string
        - name: deliveryNote
          in: query
          required: false
          description: Filter by deliveryNote (exact match)
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: Filter by status (exact match)
          schema:
            type: string
        - name: inspectionNotes
          in: query
          required: false
          description: Filter by inspectionNotes (exact match)
          schema:
            type: string
        - name: inspectedBy
          in: query
          required: false
          description: Filter by inspectedBy (exact match)
          schema:
            type: string
      requestBody: {}
      responses:
        '200':
          description: Paginated list of goodsReceipts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Page of goodsReceipts.
                    items:
                      type: object
                  pagination:
                    type: object
                    properties:
                      pageOffset:
                        type: integer
                        minimum: 0
                      pageLimit:
                        type: integer
                        minimum: 0
                    required:
                      - pageOffset
                      - pageLimit
                required:
                  - data
                  - pagination
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    post:
      operationId: createGoodsreceipt
      summary: Create GoodsReceipt
      description: Creates a new GoodsReceipt.
      tags: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                grnNumber:
                  type: string
                purchaseOrderId:
                  type: string
                  format: uuid
                receivedDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                receivedBy:
                  type: string
                deliveryNote:
                  type: string
                  nullable: true
                status:
                  type: string
                  enum:
                    - Pending Inspection
                    - Accepted
                    - Partially Accepted
                    - Rejected
                lineItems:
                  description: Free-form JSON value (object, array, or scalar).
                  nullable: true
                inspectionNotes:
                  type: string
                  nullable: true
                inspectedBy:
                  type: string
                  nullable: true
              required:
                - grnNumber
                - purchaseOrderId
                - receivedDate
                - receivedBy
                - status
      responses:
        '201':
          description: GoodsReceipt created.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /goodsReceipts/{id}:
    get:
      operationId: getGoodsreceipt
      summary: Get GoodsReceipt by id
      description: Returns a single GoodsReceipt by its id.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the GoodsReceipt.
          schema:
            type: string
            format: uuid
      requestBody: {}
      responses:
        '200':
          description: GoodsReceipt found.
          content:
            application/json:
              schema:
                type: object
          links:
            ListPurchaseorders:
              operationId: listPurchaseorders
              description: Use purchaseOrderId from goodsreceipt to list related purchaseorder records
              parameters:
                id: $response.body#/purchaseOrderId
        '404':
          description: GoodsReceipt not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    put:
      operationId: updateGoodsreceipt
      summary: Update GoodsReceipt
      description: Replaces an existing GoodsReceipt. All fields must be provided.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the GoodsReceipt.
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                grnNumber:
                  type: string
                purchaseOrderId:
                  type: string
                  format: uuid
                receivedDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                receivedBy:
                  type: string
                deliveryNote:
                  type: string
                  nullable: true
                status:
                  type: string
                  enum:
                    - Pending Inspection
                    - Accepted
                    - Partially Accepted
                    - Rejected
                lineItems:
                  description: Free-form JSON value (object, array, or scalar).
                  nullable: true
                inspectionNotes:
                  type: string
                  nullable: true
                inspectedBy:
                  type: string
                  nullable: true
      responses:
        '200':
          description: GoodsReceipt updated.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '404':
          description: GoodsReceipt not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    delete:
      operationId: deleteGoodsreceipt
      summary: Delete GoodsReceipt
      description: Deletes a GoodsReceipt by its id.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the GoodsReceipt.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: GoodsReceipt deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: ''
                  grnNumber:
                    type: string
                    description: ''
                  purchaseOrderId:
                    type: string
                    format: uuid
                    description: ''
                  receivedDate:
                    type: string
                    format: date
                    example: '2026-05-05'
                    description: ''
                  receivedBy:
                    type: string
                    description: ''
                  deliveryNote:
                    type: string
                    description: ''
                  status:
                    type: string
                    enum:
                      - Pending Inspection
                      - Accepted
                      - Partially Accepted
                      - Rejected
                    description: ''
                  lineItems:
                    description: ''
                  inspectionNotes:
                    type: string
                    description: ''
                  inspectedBy:
                    type: string
                    description: ''
        '404':
          description: GoodsReceipt not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /invoices:
    get:
      operationId: listInvoices
      summary: List invoices
      description: Returns a paginated list of invoices.
      tags: []
      parameters:
        - name: pageOffset
          in: query
          required: false
          description: Number of records to skip (0-based).
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: pageLimit
          in: query
          required: false
          description: Maximum number of records to return.
          schema:
            type: integer
            minimum: 0
            maximum: 200
            default: 100
        - name: vendorId
          in: query
          required: false
          description: Filter by Vendor — returns only records whose vendorId matches.
          schema:
            type: string
            format: uuid
        - name: purchaseOrderId
          in: query
          required: false
          description: Filter by PurchaseOrder — returns only records whose purchaseOrderId matches.
          schema:
            type: string
            format: uuid
        - name: id
          in: query
          required: false
          description: Filter by id (exact match)
          schema:
            type: string
        - name: id_in
          in: query
          required: false
          description: Filter by one or more id values (repeat the parameter)
        - name: invoiceNumber
          in: query
          required: false
          description: Filter by invoiceNumber (exact match)
          schema:
            type: string
        - name: invoiceDate
          in: query
          required: false
          description: Filter by invoiceDate (exact match)
          schema:
            type: string
        - name: invoiceDate_after
          in: query
          required: false
          description: Filter invoiceDate greater than or equal to the given value
          schema:
            type: string
        - name: invoiceDate_before
          in: query
          required: false
          description: Filter invoiceDate less than or equal to the given value
          schema:
            type: string
        - name: dueDate
          in: query
          required: false
          description: Filter by dueDate (exact match)
          schema:
            type: string
        - name: dueDate_after
          in: query
          required: false
          description: Filter dueDate greater than or equal to the given value
          schema:
            type: string
        - name: dueDate_before
          in: query
          required: false
          description: Filter dueDate less than or equal to the given value
          schema:
            type: string
        - name: subtotal
          in: query
          required: false
          description: Filter by subtotal (exact match)
          schema:
            type: number
        - name: subtotal_gte
          in: query
          required: false
          description: Filter subtotal greater than or equal to the given value
          schema:
            type: number
        - name: subtotal_lte
          in: query
          required: false
          description: Filter subtotal less than or equal to the given value
          schema:
            type: number
        - name: taxAmount
          in: query
          required: false
          description: Filter by taxAmount (exact match)
          schema:
            type: number
        - name: taxAmount_gte
          in: query
          required: false
          description: Filter taxAmount greater than or equal to the given value
          schema:
            type: number
        - name: taxAmount_lte
          in: query
          required: false
          description: Filter taxAmount less than or equal to the given value
          schema:
            type: number
        - name: totalAmount
          in: query
          required: false
          description: Filter by totalAmount (exact match)
          schema:
            type: number
        - name: totalAmount_gte
          in: query
          required: false
          description: Filter totalAmount greater than or equal to the given value
          schema:
            type: number
        - name: totalAmount_lte
          in: query
          required: false
          description: Filter totalAmount less than or equal to the given value
          schema:
            type: number
        - name: status
          in: query
          required: false
          description: Filter by status (exact match)
          schema:
            type: string
        - name: paymentDate
          in: query
          required: false
          description: Filter by paymentDate (exact match)
          schema:
            type: string
        - name: paymentDate_after
          in: query
          required: false
          description: Filter paymentDate greater than or equal to the given value
          schema:
            type: string
        - name: paymentDate_before
          in: query
          required: false
          description: Filter paymentDate less than or equal to the given value
          schema:
            type: string
        - name: paymentReference
          in: query
          required: false
          description: Filter by paymentReference (exact match)
          schema:
            type: string
        - name: notes
          in: query
          required: false
          description: Filter by notes (exact match)
          schema:
            type: string
        - name: approvedBy
          in: query
          required: false
          description: Filter by approvedBy (exact match)
          schema:
            type: string
      requestBody: {}
      responses:
        '200':
          description: Paginated list of invoices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Page of invoices.
                    items:
                      type: object
                  pagination:
                    type: object
                    properties:
                      pageOffset:
                        type: integer
                        minimum: 0
                      pageLimit:
                        type: integer
                        minimum: 0
                    required:
                      - pageOffset
                      - pageLimit
                required:
                  - data
                  - pagination
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    post:
      operationId: createInvoice
      summary: Create Invoice
      description: Creates a new Invoice.
      tags: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                invoiceNumber:
                  type: string
                vendorId:
                  type: string
                  format: uuid
                purchaseOrderId:
                  type: string
                  format: uuid
                invoiceDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                dueDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                subtotal:
                  type: number
                  nullable: true
                taxAmount:
                  type: number
                  nullable: true
                totalAmount:
                  type: number
                status:
                  type: string
                  enum:
                    - Received
                    - Under Review
                    - Approved
                    - Rejected
                    - Paid
                paymentDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                  nullable: true
                paymentReference:
                  type: string
                  nullable: true
                notes:
                  type: string
                  nullable: true
                approvedBy:
                  type: string
                  nullable: true
              required:
                - invoiceNumber
                - vendorId
                - purchaseOrderId
                - invoiceDate
                - dueDate
                - totalAmount
                - status
      responses:
        '201':
          description: Invoice created.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /invoices/{id}:
    get:
      operationId: getInvoice
      summary: Get Invoice by id
      description: Returns a single Invoice by its id.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the Invoice.
          schema:
            type: string
            format: uuid
      requestBody: {}
      responses:
        '200':
          description: Invoice found.
          content:
            application/json:
              schema:
                type: object
          links:
            ListVendors:
              operationId: listVendors
              description: Use vendorId from invoice to list related vendor records
              parameters:
                id: $response.body#/vendorId
            ListPurchaseorders:
              operationId: listPurchaseorders
              description: Use purchaseOrderId from invoice to list related purchaseorder records
              parameters:
                id: $response.body#/purchaseOrderId
        '404':
          description: Invoice not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    put:
      operationId: updateInvoice
      summary: Update Invoice
      description: Replaces an existing Invoice. All fields must be provided.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the Invoice.
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                invoiceNumber:
                  type: string
                vendorId:
                  type: string
                  format: uuid
                purchaseOrderId:
                  type: string
                  format: uuid
                invoiceDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                dueDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                subtotal:
                  type: number
                  nullable: true
                taxAmount:
                  type: number
                  nullable: true
                totalAmount:
                  type: number
                status:
                  type: string
                  enum:
                    - Received
                    - Under Review
                    - Approved
                    - Rejected
                    - Paid
                paymentDate:
                  type: string
                  format: date
                  example: '2026-05-05'
                  nullable: true
                paymentReference:
                  type: string
                  nullable: true
                notes:
                  type: string
                  nullable: true
                approvedBy:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Invoice updated.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
        '404':
          description: Invoice not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    delete:
      operationId: deleteInvoice
      summary: Delete Invoice
      description: Deletes a Invoice by its id.
      tags: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the Invoice.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: ''
                  invoiceNumber:
                    type: string
                    description: ''
                  vendorId:
                    type: string
                    format: uuid
                    description: ''
                  purchaseOrderId:
                    type: string
                    format: uuid
                    description: ''
                  invoiceDate:
                    type: string
                    format: date
                    example: '2026-05-05'
                    description: ''
                  dueDate:
                    type: string
                    format: date
                    example: '2026-05-05'
                    description: ''
                  subtotal:
                    type: number
                    description: ''
                  taxAmount:
                    type: number
                    description: ''
                  totalAmount:
                    type: number
                    description: ''
                  status:
                    type: string
                    enum:
                      - Received
                      - Under Review
                      - Approved
                      - Rejected
                      - Paid
                    description: ''
                  paymentDate:
                    type: string
                    format: date
                    example: '2026-05-05'
                    description: ''
                  paymentReference:
                    type: string
                    description: ''
                  notes:
                    type: string
                    description: ''
                  approvedBy:
                    type: string
                    description: ''
        '404':
          description: Invoice not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /signout:
    servers:
      - url: https://api.codata.io/auth/6a8fe71448d0ed24dea19acd/main
        description: 'AUTH_SERVICE (asset: Users)'
    post:
      operationId: signOut
      summary: Revoke the current refresh token
      description: Invalidates the refresh token used by the calling session. The companion access token remains valid until it expires naturally. Call this on user-initiated sign-out.
      tags:
        - 'Managed: AUTH_SERVICE'
      responses:
        '204':
          description: Signed out. No response body.
        '401':
          description: Missing or invalid refresh token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
      security:
        - authBearer: []
  /refresh:
    servers:
      - url: https://api.codata.io/auth/6a8fe71448d0ed24dea19acd/main
        description: 'AUTH_SERVICE (asset: Users)'
    post:
      operationId: refreshToken
      summary: Exchange a refresh token for a new access token
[...]
